.videos {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.pag-button {
    display: flex;
    justify-content: center;
}

.pag-button {
    padding: 10px 21px;
    background: #e27a3f;
    color: rgba(255,255,255, 0.75);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-out;
    outline: 0;
    border: 0;
}
  
.pag-button:hover {
    color: white;
}