.row {
    flex-direction: row;
    display: flex;
    margin: 5px 0;
}

.dots {
    flex: 1;
    border-top-style: dotted;
    border-top-width: 1px;
    max-height: 1px;
    margin-top: 0.5em;
}

.dots-center {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin: 0 10px;
}
