.info {
    width: 100%;
    margin: 10px 0;
}

.subtitle-content {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.subtitle-content:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 300%;
    max-width: 180px;
    margin-left: 10px;
    height: 1px;
    border-bottom: 1px dotted black;
}

.subtitle-info {
    display: inline-block;
    float: right;
}